:root {
    --color-primary: #907B61;
    --color-secondary: #583D1D;
    --color-highlight: #332B20;
}

html {
    font-size: 62.5%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

body {
    font-family: Geist, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-weight: 600;
}

img {
    width: 10rem;
    height: 10rem;
}

/* Lists */

.list {
    list-style: none;
    padding-left: 0;

}

.list-inline {
    display: inline-block;
}
.list-item {
    padding: 0.5rem 2rem;
}

.list-item a {
    display: inline-block;
    color: var(--color-highlight);
    transition: transform .3s ease-out;

}

.list-item a:hover {
    transform: scale(1.2);
}

.list-item a .nav-social {
    transition: transform .3s ease-out;
}

.list-item a .nav-social:hover {
    transform: scale(1.5);
}




/* nav-bar */

header {
    color: var(--color-secondary);
    box-shadow: 0 0 10px 2px var(--color-highlight);

}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-list {
    width: 100%;
}

.nav-toggler {
    opacity: 0.5;
    font-size: 3rem;
    padding: 1rem;
}

.nav-toggler:hover {
    cursor: pointer;
}
 
/* .menu a:hover {
}

.menu .nav-social {
    padding: 0.5rem;
}

.menu .nav-social:hover {
    transform: scale(1.5);
}

header .logo {
    font-weight: 700;
    font-size: 1.5rem;
}

.nav-toggler:hover {
    cursor: pointer;    
} */

/* @media screen and (min-width: 768px) {

    .nav-toggler {
        display: none;
    }

    header {
        background-color: white;
        padding: 1rem 2rem;
        width: 100%;
        position: fixed;

    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        flex-direction: row;
    }
} */

/* hero */

.hero {
    width: auto;
    height: 20rem;
    color: var(--color-highlight);
    padding-top: 17.25rem;
    margin-bottom: 9rem;
    text-align: left;
    display: flex;
    align-items: cenet;
}

.hero p {
    text-transform: uppercase;
}

.hero-content {
    width: 60vh;
}

.hero-welcome{
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
}

.hero-title {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    margin-bottom: 1rem;
}

.hero-title p {
    margin: 0;
    font-family: 'Share Tech Mono';
    font-size: 6rem;
    max-width: 700px;
}

.role {
    padding-right: 3rem;
}

.hero-image {
    width: 30rem;
    border-radius: 70px;
}


/* Grid */

.grid {
    display: grid;
    gap: 5rem 10rem;
}

.grid--1x2 {
    grid-template-columns: 1fr 1fr;
}

/* button */

.btn {
    display: inline-block;
    background-color: var(--color-highlight);
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 12px;
    border: none;
    box-shadow: 3px 3px 10px 3px var(--color-secondary);
    transition: transform .2s ease-out;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-full {
    width: 100%;
}

.btn i {
    padding-left: 1rem;
}

/* divisor */

.divisor {
    border-radius: 1px;
    width: 100%;
    height: 0.1rem;
    background-color: #332B20;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

/* Block */


.body-content {
    
}

.body-content .grid {
    
}

.block-title {
    text-transform: uppercase;
}

.block-content {
    text-align: justify;
}

.body-content .grid {
    padding-bottom: 5rem;
}

/* project */

.project-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem 2rem;
    
}

.project {
    width: auto;
    height: 15rem;
    background-color: var(--color-highlight);
    border-radius: 12px;
    padding: 2.5rem 2rem;
}

.project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.8rem;
}

.project-page-link {
    color: var(--color-highlight);
}