:root {
    --color-primary: #907B61;
    --color-secondary: #583D1D;
    --color-highlight: #332B20;
}

html {
    font-size: 62.5%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

body {
    font-family: Geist, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
}

a {
    color: white;
    text-decoration: none;
}

/* nav-bar */

header {
    background-color: white;
    color: var(--color-secondary);
    padding: 1rem 2rem;
    box-shadow: 0 0 10px 2px var(--color-highlight);
    width: 100%;
    position: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    display: inline-block;
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: 500;
    padding: 0rem 2rem 0rem 2rem;
    transition: transform .3s ease-out;
}

.menu a:hover {
    transform: scale(1.1);
}

.menu .nav-social {
    padding: 0.5rem;
}

.menu .nav-social:hover {
    transform: scale(1.5);
}

header .logo {
    font-weight: 700;
    font-size: 1.5rem;
}



/* hero */

.hero {
    width: auto;
    height: 20rem;
    color: var(--color-highlight);
    padding-top: 12.25rem;
    text-align: left;
    display: flex;
    align-items: cenet;
}

.hero p {
    text-transform: uppercase;
}

.hero-content {
    width: 60vh;
}

.hero-welcome{
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
}

.hero-title {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    margin-bottom: 1rem;
}

.hero-title p {
    margin: 0;
    font-family: 'Share Tech Mono';
    font-size: 6rem;
    max-width: 700px;
}

.role {
    padding-right: 3rem;
}

.hero-image {
    width: 30rem;
    border-radius: 70px;
}


/* Grid */

.grid {
    display: grid;
}

.grid--1x2 {
    grid-template-columns: 1fr 1fr;
}

/* button */

.btn {
    display: inline-block;
    background-color: var(--color-highlight);
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 12px;
    border: none;
    box-shadow: 3px 3px 10px 3px var(--color-secondary);
    transition: transform .2s ease-out;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-full {
    width: 100%;
}

.btn i {
    padding-left: 1rem;
}