<header>
    <nav class="container">
        <div class="logo">
            <p>Marco Borghetti | Dev </p>
        </div>
        <div class="menu">
            <a href="#">Sobre mim</a>
            <a href="#">Habilidades</a>
            <a href="#">Projetos</a>
            <a href="#">Entre em contato</a>
            <a href="https://www.linkedin.com/in/marco-borghetti/" class="fa-brands fa-linkedin" target="_blank"></a>
            <a href="https://www.instagram.com/ma.borghetti/?igsh=MXVncXZzcDd5ejgxMQ==" class="fa-brands fa-instagram" target="_blank"></a>
        </div>
    </nav>
</header>
